// scss-docs-start color-variables
$blue: #2196f3 !default;
$red: #d32f2f !default;
$yellow: #fbc02d !default;
$green: #689e38 !default;

// scss-docs-end color-variables
$min-contrast-ratio: 2 !default;
